@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Text+Me+One&display=swap');


/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

image, video, canvas, svg {
  max-width: 100%;
  
}

.container {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header {
  background-image: url("/assets/images/pexels-venelin-dimitrov-3476312.jpg");
  height: 100vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 180px;

  display: flex;
  justify-content: flex-end;
}

header .container {
  flex-direction: column;
    display: flex;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    justify-content: space-between;
}

h1 {
  font-size: 90px;
  /* text-transform: uppercase; */
}

h2 {
  font-size: 40px;
  font-style: italic;
}

h1,h2 {
  text-align: center;
  color: rgb(255, 238, 199);
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}

h3 {
  font-size: 35px;
}

/* #hero-container {
  display: flex;
  justify-content: flex-end;
} */

p{
  font-size: 17px;
  text-align: justify;
  color: rgb(254, 242, 213);
  margin: 0 17%;
}

h3 {
  text-align: center;
  color: rgb(253, 245, 227);
}

/* About */
#about {
  background-color: #5224ad;
}

#about .container {
  display: flex;
  flex-direction: row;
  padding: 60px 0;
  margin: 2px auto 0 auto;
}

#sarah-img {
  height: 600px;
  margin: 30px 0;
}

.about-text {
  margin: auto 0;
}

/*Contact section*/
#contact {
  background-color: #6f46c2;
}

#contact .container {
  padding: 60px 0;
  margin: 2px auto;
}

#contact .container p {
  font-size: 24px;
}
.bold {
  font-weight: bold;
}


/*Footer*/
footer {
  background-image: url("/assets/images/pexels-min-an-682788.jpg");
  /* height: 100vh; */
  background-position: 50%;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #150a04; */
  padding: 100px 0;
  color: white;
}